:root {
    --background-primary: #121212;
    --background-secondary: #1e1e1e;
    --text-primary: #e0e0e0;
    --text-secondary: #a0a0a0;
    --accent-color: #bb86fc;
    --accent-variant: #3700b3;
    --error-color: #cf6679;
}

*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    overflow:hidden;
}

ul {
    list-style-type: none;
}

.sidebar {
    background-color: var(--background-secondary);
    padding: 30px 20px;
    border-radius: 20px;
}

 
.sidebar-li {
    background-color: var(--background-primary);
    color: var(--text-primary);
    padding: 15px 10px;
    margin: 10px 0;
    border-radius: 10px;
    display:flex;
    align-items: center;
    gap:10px;
}

.sidebar-active {
    background-color: var(--accent-color);
    color: var(--background-primary);
}

.sidebar-li:hover, .sidebar-li:focus {
    background-color: var(--accent-color);
    color: var(--background-primary);
}

.sidebar-title {
    padding-left: 10px;
}

.header {
    height: 50px;
    display:flex;
    gap: 10px;
}

.input-box-todo {
    border-style: none;
    border: 2px solid var(--accent-color);
    background-color: var(--background-primary);
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
    color: var(--background-secondary);
    font-size: 15px;
    color: var(--text-primary);
}

.input-box-todo:focus {
    outline: none;
    box-shadow:0px 1px 15px var(--text-primary);
}

.empty-input-box-alert {
    box-shadow:0px 1px 15px var(--error-color);
    border: 2px solid var(--error-color);
}

.empty-input-box-alert:focus {
    box-shadow:0px 1px 15px var(--error-color);
    animation: empty-error-animation 2s infinite ease;
}


@keyframes empty-error-animation {
    50% {
        box-shadow:0px 1px 15px var(--error-color);
    }

    100%, 0% {
        box-shadow:0px 1px 30px var(--error-color);
    }
}

div.input-button-container > *{  
    height: 100%;
    border-style: none;
}

#add-task {
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 0 20px;
    margin-left: 10px;
    transition: transform 0.2s ease;
}

footer {
    position: fixed;
    bottom: 20px;
    width: 400px;
    height: 80px;
}

footer ul {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 10px
}

footer li {
    background-color: var(--background-secondary);
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
}

.task-container {
    margin-top: 30px;
}

.task-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: var(--background-secondary);
    border-radius: 5px;
    transition: margin-left 0.5s ease;
    margin-bottom: 10px;
}

.task-box:hover, .task-box:focus {
    margin-left: 20px;
}

input[type="checkbox"] {
    appearance:none;
    width:24px;
    height: 24px;
    border: 2px solid var(--accent-color);
    border-radius: 100%;
    margin-right: 15px;
    cursor: pointer;
    position:relative;
    transition: background-color 0.2s ease;
}

input[type="checkbox"]:checked {
    background-color: var(--accent-color);
}

.task-completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.edit-input-box {
    background-color: var(--background-secondary);
    color: var(--accent-color);
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    top: 5px;
    border: 0;
}

.edit-input-box:focus {
    outline: none;
}
.task-data {
    position: relative;
    top: -5px;
}

.task-status {
    flex-grow: 1;
}

i.bar-icon {
    font-size: 24px;
    display: none;
}


.task-edit-icons {
    font-size: 20px;
    transition: transform 0.2s ease;
}

.task-edit-icons:hover, .task-edit-icons:focus, .bar-icon:hover {
    transform: scale(1.2);
}


.task-edit-icons:hover, .task-edit-icons:focus {
    color: var(--accent-color);
}

#add-task:hover {
    transform: scale(1.1);
}
@media (max-width: 770px) {
    

    /* .sidebar {
        position: static;
        height: auto;
        overflow: visible;
    } */

    .sidebar-off {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }

    .sidebar-on {
        flex-direction: column;
        height: auto;
    }
    
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        height: auto;
    }

    i.bar-icon {
        transition: transform 0.2s ease;
        display: block;
    }

    i.bar-icon-unactive {
        display: none;
    }

    .categories-list {
        display: block;
        transform: translateY(0%);
        opacity: 1;
    }

    .categories-list-unactive{
        display:none;
        transform: translateY(100%);
        opacity: 0;
        transition: transform 10s ease, opacity 10s ease; 
    }

    .header {
        flex-direction: column;
        height: 100px;
    }

    .input-box-todo {
        flex-grow:0;
    }

    #add-task {
        height: 50px;
    }

    .sidebar ul {
        width: 100%;
    }

}