* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior:smooth;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f4f4f4;
    --text-color: #333;
}

body {
    font-family: sans-serif;
}

nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(45deg ,var(--primary-color), var(--secondary-color));
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-right: 80px;
}

a {
    text-decoration: none;
    color: var(--background-color);
    font-weight: 800;
    font-size: 18px;
}

.welcome {
    width: 100vw;
    height: 90vh;
    background: linear-gradient(45deg ,var(--primary-color), var(--secondary-color));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.welcome h1 {
    font-size: 60px;
    font-family: 'Space Mono', monospace;
    color: var(--background-color);
    text-shadow: 2px 2px 4px black;
    text-align: center;
}

.welcome p {
    font-size: 25px;
    color: var(--background-color);
}

.projects h2 {
    text-align: center;
    padding: 40px 0;
    color: var(--primary-color);
}
.projects {
    width: 100vw;
}

img {
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.project-title {
    color: var(--text-color);
    display: block;
    margin: 30px auto;
    text-align: center;
    width: 200px;
}

.project-tile {
    border-radius: 20px;
    box-shadow: 2px 2px 10px var(--secondary-color);
    width: 425px;
    transition: transform 1s ease;
}

.project-tile:hover {
    transform: scale(1.05);
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 17px;
    margin: 50px auto;
    display: block;
    transition: background-color 0.2s ease;
}

button:hover, button:focus {
    background-color: var(--secondary-color);
}

section.contacts {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    width: 100vw;
    height: auto;
    color: var(--background-color);
}

.contacts-heading {
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 50px;
}

.contacts-heading h2 {
    padding-bottom: 5px;
}

.contacts-list > a {
    border: 2px solid var(--background-color);
    width: 170px;
    height: 50px;
    border-radius: 15px;
    display: block;
    align-content: center;
    text-align: center;
    font-weight:400;
}

.contacts-list a:hover {
    background-color: #f4f4f450;

}
.contacts-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px 20px 80px 20px;
}

footer {
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 18px;
    height: 125px;
    text-align: center;
    align-content: center;
    font-weight:100;
}

footer p:nth-of-type(2){
    margin-top: 10px;
}

footer a {
    color: var(--secondary-color);
}

@media (max-width: 750px) {
    nav {
        height: auto;
        justify-content: center;
    }
    nav ul {
        flex-direction: column;
        margin: 0;
        gap: 0;

    }

    nav ul li {
        border-bottom: 1px solid var(--background-color);
        width: 100vw;
        text-align: center;
        padding: 15px;
    }
    
    nav li:hover {
        opacity: 50%;
    }
}

@keyframes show-button {
    0% {
        background-color: var(--primary-color);
    }
    100% {
        background-color: var(--secondary-color);
    }
}